body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #eef;
  margin: 0;
}

header {
  background: #03506F;
  color: #fff;
  padding: 1.2em;
}

nav button {
  margin-right: 0.5em;
  padding: 0.5em 1.2em;
  border-radius: 5px;
  border: none;
  background: #02C39A;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

nav button:hover {
  background: #029E74;
}

#user-info {
  font-weight: bold;
  margin-left: 1em;
}

main {
  max-width: 800px;
  margin: 1.5em auto;
  padding: 1em;
}

.post-card {
  background: #fff;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.06);
}

.post-card img {
  max-width: 100%;
  border-radius: 4px;
  margin: 0.8em 0;
}

.like-btn {
  color: #C70039;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}